h1{
        font-family: "Jersey 20 Charted", sans-serif;
        font-weight:400;
        font-style: normal;
        text-align: center;
        margin:1%;
}
p{
    
      font-family: "Raleway", sans-serif;
      font-optical-sizing: auto;
      font-weight:bold;
      font-style: normal;
      margin: 1%;
    }
    body {
        background-image: url('images/bg.jpeg'); /* Cambia por la ruta de tu imagen */
        background-size: cover; /* Ajusta el tamaño para cubrir toda la pantalla */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-attachment: fixed; /* Fija la imagen de fondo */

    }
    
      
